
body {
	font-family: sans-serif;
	overflow: hidden;
	background-color: #D3D3D3;
}

.wrapper {
	position: relative;
	height: 100vh;
}

.slider {
	position: relative;
	width: 100%;
	height: 94%;
}
.flex-viewport{
	height: 100%;
}

ul {
	display:flex;
	height: 100%;
	margin: 0;
	list-style-type: none;
	color:black;
}

.slides li{
	position: relative;
	display: inline-block;
	background: white;

}

ul li h1 {
	position: absolute;
	color: #dc0000;
	top:46%;
}

.hearts:before {
	content: "";
	background-image: url("hearts.jpg");
	display: inline-block;
	width: 53px;
	height: 55px;
	vertical-align: middle;
	margin-right: 5px;
}

.clubs:before {
	content: "";
	background-image: url("clubs.jpg");
	display: inline-block;
	width: 53px;
	height: 57px;
	vertical-align: middle;
	margin-right: 5px;
}

.diamonds:before {
	content: "";
	background-image: url("diamonds.jpg");
	display: inline-block;
	width: 52px;
	height: 58px;
	vertical-align: middle;
	margin-right: 5px;
}

.spades:before {
	content: "";
	background-image: url("spades.jpg");
	display: inline-block;
	width: 56px;
	height: 57px;
	vertical-align: middle;
	margin-right: 5px;
}
 ol {
 	display: none;
 }

.information {
	font-size: 30px;
	padding-top:10px;
    text-align: center;
    opacity: 0.3;
}
 
.hearts {
	padding-left: 40%;
}

.clubs {
	padding-left: 40%;
	color:black;
}

.spades {
	padding-left: 40%;
	color: black;
}

.diamonds {
	padding-left: 40%;
}

a {
	position: absolute;
}

.flex-prev {
	left: 2%;
	top: 50%;
	text-decoration: none;
	color: black;
	font-size: 25px;
	
}

.flex-next {
	text-decoration: none;
	color: black;
	font-size: 25px;
	top:50%;
	right: 2.5%;
}

.flex-prev:hover {
	opacity: 0.4;
}

.flex-next:hover {
	opacity: 0.4;
}
